<!-- NEW/EDIT POLICY GROUP DIALOG -->
<h2 mat-dialog-title class="dialog-title"> {{dialogConfig.title}} </h2>

<div mat-dialog-content>
    <ng-container *ngFor="let group of policyGroups">
        <div class="row">
            <div class="col-12 mb-3 pb-3">

                <div class="row">
                    <!-- Mode -->
                    <div class="col-5">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Mode</mat-label>
                                <mat-select [(value)]="group.mode" requires>
                                    <mat-option value="null">Select one...</mat-option>
                                    <mat-option *ngFor="let mode of modes | keyvalue" [value]="mode.value">{{ mode.value }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Start Date -->
                    <div class="col-5">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="group.startDate" required>
                                <mat-hint>DD/MM/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Delete button -->
                    <div class="col-2">
                        <button mat-icon-button class="" style="color:red;" (click)="deletePolicyGroup(group.id)">
                            <i class="fa fa-minus-square" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <!-- Season -->
                    <div class="col-5">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Season</mat-label>
                                <mat-select [(value)]="group.season" requires>
                                    <mat-option value="null">Select one...</mat-option>
                                    <mat-option *ngFor="let season of seasons | keyvalue" [value]="season.value">{{ season.value }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>End Date</mat-label>
                                <input matInput [matDatepicker]="picker1" [(ngModel)]="group.endDate" required>
                                <mat-hint>DD/MM/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </ng-container>
    <div *ngIf="policyGroups && policyGroups.length < 4" class="row">
        <div class="col-12 mb-2 pb-2 text-center">
            <button mat-fab color="primary" aria-label="Add Policy Group" (click)="addPolicyGroup()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>

<div mat-dialog-actions>
    <div class="actions-button-container pb-2 px-2 d-flex justify-content-end">
        <div class="mx-1 align-items-end">
            <button mat-raised-button (click)="cancel()">Cancel</button>
        </div>
        <div class="mx-1 align-items-end">
            <button mat-raised-button color="primary" type="button" (click)="confirm()">Confirm</button>
        </div>
    </div>
</div>

<!-- ./NEW/EDIT POLICY GROUP DIALOG -->