<!-- Control Panel -->
<div class="page-card-container">
    <!-- Page title -->
    <div class="page-title px-4 py-3">

        <div class="row justify-content-between pb-2">
            <div class="col-auto d-flex">
                <!-- Page title + Go Back button -->
                <div class="d-inline-block">
                    <h2 class="card-header-text d-inline-block mb-0">Smart Rooms</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Container -->
    <div class="page-container">

        <router-outlet></router-outlet>

    </div>

</div>
<!-- ./Control Panel -->