.smart-room-detail-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.smart-room-custom-card {
    border: 1px solid #cecece;
    border-radius: 3px;
    box-shadow: 1px 3px 3px #969595;
}

.card-fixed {
    height: 9.5rem;
}

.card-header-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #094fa4;
}

.temperature-text-container {
    font-size: 4.2rem;
    font-family: sans-serif;
    line-height: 1.4;
    color: #1f1f1f;
}

.temperature-icon {
    color: #424242;
    line-height: 9;
}

.settings-container {
    border-top: 1px solid #dedede;
}

.chart-container {
    height: 18.8rem;
}

.actions {
    line-height: 3;
    font-weight: 500;
}

.policy-group.seasons, .policy-group.mode {
    font-weight: 500;
}