
html, body { height: 100%; }
body { 
    background: linear-gradient(#1e526d 40%, transparent 40%) no-repeat;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

a {
    text-decoration: none;
}

.page-title {
    color: #343434;
}

.page-title>.row {
    border-bottom: 1px solid #dedede;
}

.page-container {
    padding: 0.5rem;
}

.page-card-container {
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 3px 3px #969595;
}

.page-content {
    padding: 2rem;
    margin: 1rem;
}

.card-header-text {
    font-size: 1.5rem !important;
    font-weight: 700 !important;
}

.smart-room-card-subtitle {
    font-size: 16px;
}

.smart-room-card-header {
    background: #efefef;
    padding-bottom: 0.5rem !important;
}

.smart-room-card {
    width: 85%;
    min-height: 85%;
}

.sensor-active {
    color: #31b360;
}

.sensor-inactive {
    color: #ce2a2a;
}

.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #365775;
    --mdc-protected-button-label-text-color: #fff;
}

.mat-mdc-icon-button.mat-primary {
    --mdc-protected-button-container-color: #365775;
    --mdc-protected-button-label-text-color: #fff;
}

.mat-mdc-icon-button.mat-primary {
    --mdc-icon-button-icon-color: #365775;
}

.mat-mdc-icon-button.mat-primary {
    --mat-mdc-button-persistent-ripple-color: #365775;
    --mat-mdc-button-ripple-color: rgba(103, 58, 183, 0.1);
}

.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
    --mdc-fab-container-color: #365775;
    --mdc-fab-icon-color: #fff;
    --mat-mdc-fab-color: #fff;
}

/* TEXT */

.text-red {
    color: #ce2a2a;
}

.text-orange {
    color: #d16c19;
}

.text-green {
    color: #2f9f45;
}

.text-grey {
    color: #2d2d2d;
}

.text-blue {
    color: #114279;
}

.temperature-text.text-red {
    color: #d82d2d;
}

.temperature-text.text-orange {
    color: #e4743b;
}

.temperature-text.text-yellow {
    color: #c4bf2a;
}

.temperature-text.text-blue {
    color: #2841e0;
}

/* DIALOG */
.blurred {
    backdrop-filter: blur(5px);
}

.actions-button-container {
    width: 100%;
    margin-left: 0;
}

.add-item-button {
    position: relative;
    left: 30%;
}

.dialog-title {
    border-bottom: 1px solid #dedede;
}